/* dark-styles.css - Dark Theme */
body {
    background-color: #333;
    color: #fff;
  }
  
  .card {
    background-color: #222;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border-top: 2px solid rebeccapurple;
  }
  
  .custom-control-label::before {
    background-color: #000; /* Background color for the switch */
    border-color: #000; /* Border color for the switch */
  }
  
  .custom-control-label::after {
    background-color: #fff; /* Color of the switch itself when toggled */
    border-color: #000; /* Border color of the switch when toggled */
  }
  
  #darkModeSwitch:checked + .custom-control-label::before {
    background-color: #a21a1a;
    border: 1px solid #fff;
  }

  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .social-image {
    width: 24px;
    height: 24px;
    margin-right: 10px; 
  }

  /* Define the styles for the 'up' class */
  .up::before {
    content: url('../images/icon-up.svg');
    margin-right: 5px; /* Add some spacing between the image and the text */
  }
  
  /* Define the styles for the 'down' class */
  .down::before {
    content: url('../images/icon-down.svg'); 
    margin-right: 5px; /* Add some spacing between the image and the text */
  }
  
  .card-title-before[data-icon]::before {
    content: "";
    display: inline-block;
    width: 20px; /* Adjust the width to fit your design */
    height: 20px; /* Adjust the height to fit your design */
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .card-title-before[data-icon="facebook"]::before {
    background-image: url("../images/icon-facebook.svg");
  }
  
  .card-title-before[data-icon="twitter"]::before {
    background-image: url("../images/icon-twitter.svg");
  }
  
  .card-title-before[data-icon="instagram"]::before {
    background-image: url("../images/icon-instagram.svg");
  }
  
  .card-title-before[data-icon="youtube"]::before {
    background-image: url("../images/icon-youtube.svg");
  }

  .card-title-after[data-icon]::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
  }
  
  .card-title-after[data-icon="facebook"]::after {
    content: url("../images/icon-facebook.svg");
  }
  
  .card-title-after[data-icon="instagram"]::after {
    content: url("../images/icon-instagram.svg");
  }
  
  .card-title-after[data-icon="twitter"]::after {
    content: url("../images/icon-twitter.svg");
  }
  
  .card-title-after[data-icon="youtube"]::after {
    content: url("../images/icon-youtube.svg");
  }